# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

/env.php
/.htaccess
/phpunit.xml
/MIGRATIONLOG
public/.htaccess

System/Test
System/Controllers/Controller_Test.php
System/Models/Model_Test.php
System/Views/View_Test.php
System/Migrations/Migration_Test.php

System/Routes/Test_Route.php
System/Controllers/C_Test_Route.php
System/Modules/*/Controllers/C_Test_Route_HMVC.php
