# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

/env.php
/.htaccess
/phpunit.xml
/MIGRATIONLOG
public/.htaccess
System/Routes/Test_Route.php
System/Test
System/Migrations/Migration_Test_1.php
System/Migrations/Migration_Test_2.php
System/Migrations/Migration_Test_3.php
System/Apps/General/Controllers/C_Test_General.php
System/Apps/General/Controllers/C_Test_CSRF.php
System/Apps/General/Controllers/C_Test_Validator.php
System/Apps/General/Controllers/C_Test_Route.php
System/Apps/General/Controllers/C_Test_XSS.php
System/Apps/General/Controllers/C_Test_Sanitizer.php
System/Apps/General/Controllers/C_Test_Faker.php
System/Apps/General/Controllers/C_Test_Encrypt.php
System/Apps/General/Controllers/C_Test_Carbon.php
System/Apps/General/Controllers/C_Test_Cookie.php
System/Apps/General/Controllers/C_Test_Session.php
System/Apps/General/Controllers/C_Test_FTP.php
System/Apps/General/Controllers/C_Test_Curl.php
System/Apps/General/Controllers/C_Test_Json.php
System/Apps/General/Controllers/C_Test_Loadtime.php
System/Apps/General/Controllers/C_Test_QueryBuilder.php
System/Apps/General/Controllers/C_Test_Getdata.php
System/Apps/General/Controllers/C_Test_DB.php
System/Apps/General/Controllers/C_Test_DBCon.php
System/Apps/Modules/*/Controllers/C_Test_Route_HMVC.php
System/Apps/General/Models/M_Test_DB.php
System/Apps/General/Models/M_Test_DBCon.php
System/Apps/General/Models/M_Test_Getdata.php
System/Apps/General/Models/M_Test_QueryBuilder.php
System/Apps/General/Views/View_Test_CSRF.php
System/Apps/General/Views/View_Test_Validator.php
