/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
    height: 100%;
}

body, h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif !important;
}

/*
* Styling for Sticky Footer with Flexbox
*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

header, .wrap {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    text-align: center;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

.header a:link {
    text-decoration: none;
    color: rgb(90, 146, 241);
}

.wrap h3 {
    color: rgb(82, 82, 82);
} .wrap h1 {
    color: rgb(82, 82, 82);
} .wrap a:link {
    text-decoration: none;
    color: rgb(90, 146, 241);
}

.footer a:link, .footer h1 {
    text-decoration: none;
    color: rgb(90, 146, 241);
} .footer .fcontent {
    padding: 2em;
}
