# Define Application Name & Environment
APP_ENV=development # Select 'development' or 'production' mode
APP_DIR=nsy

# Define Primary Connection
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_CHARSET=
DB_PREFIX=

# Define Secondary Connection
DB_CONNECTION_SEC=
DB_HOST_SEC=
DB_PORT_SEC=
DB_NAME_SEC=
DB_USER_SEC=
DB_PASS_SEC=
DB_CHARSET_SEC=
DB_PREFIX_SEC=

# Define Session Prefix
SESSION_PREFIX=
PUBLIC_DIR=public

# Define FTP Variables
FTP_HOST=
FTP_USERNAME=
FTP_PASSWORD=
